:root {
    --main-purple-color: #6C5BFF;
    --light-gray-color: #EDEFF1;
    --dark-gray-color: #BDC3C7;
    --header-text-color: #34495E;
    --border-radius: 5px;
    --invalid-color: #E74C3C;
}

*:not(select) {
    font-family: lato, arial;
    font-size: 16px;
}

*:focus {
    outline: 2px solid var(--main-purple-color);
}

body {
    margin: 0px;
}

#background {
    height: 200vh;
    position: relative;
}

#background::after {
    content: '';
    height: 200vh;
    width: 100vw;
    background-image: url(./media/background-image.jpg);
    position: absolute;
    background-attachment: fixed;
    background-size: cover;
    z-index: -1;
}

#sims {
    position: absolute;
    width: 100%;
    height: 100%;
}

#uw_situatie {
    top: 100vh;
    position: absolute;
}

#uw_situatie .progressbar {
    height: 2vh;
    width: 25vw;
    background-color: var(--dark-gray-color);
    overflow: hidden;
}

#uw_situatie .progressbar #progression {
    background-color: var(--main-purple-color);
    padding-right: 0.1px;
    transition: padding-right 0.5s linear;
    transition: background-color 0.3s linear;
}

#uw_situatie .progressbar #progression.invalidProgress {
    background-color: var(--invalid-color);
}

form {
    width: calc(25vw - 20px);
    height: 90vh;
    background-color: var(--light-gray-color);
    padding: 10px;
    overflow-y: scroll;
}

fieldset {
    border: none;
    margin: 0px;
    padding: 0px;
}

.h2Compensation {
    height: 6vh;
    width: 25vw;
    margin: 0px;
    display: inline-block;
    background-color: var(--light-gray-color);
}

section h2:first-of-type {
    font-size: 30px;
    padding: 1vh 0px 1vh 15px;
    height: 100%;
    margin: 0px;
    font-weight: 600;
    color: var(--header-text-color);
    background-color: var(--light-gray-color);
}

.question_category {
    background-color: white;
    padding: 10px 20px 10px 20px;
    cursor: pointer;
    overflow: hidden;
}

.question_category.hide:hover {
    background-color: rgba(255, 255, 255, 0.6);
}

.question_category.hide:hover .progressive_disclosure img {
    animation: dropDownMove 0.3s linear;
}

@keyframes dropDownMove {
    25% {
        transform: rotate(15deg);
    }

    75% {
        transform: rotate(-15deg);
    }
}

section:first-of-type .question_category:not(:nth-of-type(4)),
section:nth-of-type(2) .question_category:not(:nth-of-type(12)) {
    margin-bottom: 15px;
}

.question_category:not(.hide) {
    cursor: default;
    padding-bottom: 15px;
}

.question_category>*:nth-child(2) {
    margin-top: 20px;
}

.question_category>div:first-of-type {
    display: grid;
    grid-template-columns: 1fr 15px 5px;
    grid-column-gap: 10px;
}

.question_category>div:first-of-type legend {
    display: inline-block;
    font-size: 20px;
    font-weight: 600;
    color: var(--header-text-color);
}

.question_category>div:first-of-type img {
    align-self: center;
    transition: 0.1s linear;
}

.question_category>div:first-of-type img.activeDropdown {
    transform: rotate(180deg);
}

.question_category>div:first-of-type span:first-of-type {
    position: relative;
    bottom: 10px;
    left: 15px;
    padding: 10px;
    /* 2px to compensate for horizontal span */
    height: calc(100% + 2px);
    background-color: var(--dark-gray-color);
    transition: background-color 0.3s linear;
}

.question_category>div:first-of-type span:first-of-type.hasAnswer {
    background-color: var(--main-purple-color);
}

.question_category>div:first-of-type span:first-of-type.invalidValue {
    background-color: var(--invalid-color);
}

.question_category>div:first-of-type span:last-of-type {
    background-color: var(--light-gray-color);
    width: 100%;
    padding: 1px 100px 1px 0px;
    position: relative;
    right: 20px;
    top: 10px;
}

.question_category.hide>div:first-of-type span:last-of-type {
    display: none;
}

span.invalid-warning {
    color: var(--invalid-color);
    font-style: italic;
    display: block;
    width: 100%;
    position: relative;
    left: 0px;
    font-size: 14px;
}

.question_category>fieldset>legend {
    color: var(--header-text-color);
    font-size: 18px;
    font-weight: 600;
    width: 100%;
    padding-top: 25px;
    padding-left: 0px;
}

form>fieldset:nth-of-type(2)>fieldset:first-of-type>legend {
    padding-top: 5px;
}

.question_category>fieldset>label:first-of-type {
    margin-top: 10px;
}

form label {
    display: block;
    margin: 10px 0px 5px 0px;
    height: 19px;
}

[data-currency="true"]::after {
    content: "€";
    position: relative;
    top: 13px;
    left: 10px;
    display: block;
    cursor: text;
    color: var(--dark-gray-color);
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0px;
}

input[type="number"] {
    border: 2px solid var(--dark-gray-color);
    border-radius: var(--border-radius);
    width: calc(100% - 50px);
    padding: 6px 25px;
}

input[type="number"]:hover {
    border-color: var(--main-purple-color);
}

#leeftijd {
    width: calc(100% - 25px);
    padding: 6px 10px;
}

[data_question="5"]>fieldset:first-of-type>legend {
    padding-top: 0px;
}

input[type="radio"] {
    position: absolute;
    left: -9999px;
}

input[type="radio"]+label {
    padding: 6px 0px;
    width: calc(25% - 7.5px);
    /* -7.5px is to compensate for 10px border & gap in vertical-center of form (2x 5px = 10px) */
    display: inline-block;
    border: 2px solid var(--dark-gray-color);
    text-align: center;
    margin: 0px;
}

label[for="partner"],
label[for="kinderen"] {
    width: calc(50% - 10px);
    display: inline-block;
}

label[for="kinderen"] {
    margin-left: 13px;
}

#kinderen {
    width: calc(50% - 33px);
    display: inline-block;
    padding: 6px 10px;
}

[data_question="1"]>div:not(#progressive_disclosure) input {
    padding-left: 10px;
    padding-right: 35px;
}

input[type="radio"]+label:nth-of-type(even),
#partner+label,
#nieuw+label {
    border-radius: var(--border-radius) 0px 0px var(--border-radius);
}

#nieuw+label {
    margin-left: 1px;
}

input[type="radio"]+label:nth-of-type(odd),
#geen-partner+label,
#tweedehands+label {
    border-radius: 0px var(--border-radius) var(--border-radius) 0px;
    margin-left: -3px;
    margin-right: 10px;
}

#tweedehands+label {
    margin-left: -13px;
}

input[type="radio"]:checked+label {
    background-color: var(--main-purple-color);
    border-color: var(--main-purple-color);
    color: white;
}

input[type="radio"]:focus+label,
input[type="radio"]:hover+label {
    border: 2px solid var(--main-purple-color);
    border-color: var(--main-purple-color);
}

input[type="radio"]#tweedehands+label,
input[type="radio"]#tweedehands2+label {
    width: calc(25% + 30px);
}

label:not([for="partner"]):not(#huurOfKoop):not(#waardeAuto),
select,
select+label,
input[type="radio"] {
    cursor: pointer;
}

.select-box {
    overflow: hidden;
    border: 1px solid #000;
    position: relative;
    padding: 5px 0px;
    border: 2px solid var(--dark-gray-color);
    border-radius: var(--border-radius);
}

.select-box:focus {
    border: 2px solid var(--main-purple-color);
    outline: none;
}

.select-box select {
    width: 104%;
    border: 0px;
    background: none;
    background-image: url(./media/select-arrows.svg);
    background-repeat: no-repeat;
    background-position: calc(100% - 1.2em) center;
    background-size: 0.8em;
    font-size: 16px;
}

select:focus {
    outline: none;
}

fieldset>p {
    margin: 15px 0px 0px 0px;
}

#extraAuto {
    color: var(--main-purple-color);
    cursor: pointer;
}

#extraAuto:hover {
    text-decoration: underline;
}

section.hide,
legend.hide,
#partnersInkomen.hide,
#showHuur.hide,
#showKoop.hide,
#has_a_car.hide,
#has_a_second_car.hide,
#extraAuto.hide,
#totalIncome.hide,
label.hide,
div.hide,
input[type="radio"].hide+label,
input[type="number"].hide,
input[type="number"].hide+label {
    display: none;
}

.question_category.hide>*:not(.progressive_disclosure),
.question_category.hide #kinderen {
    display: none;
}

input[type="number"].invalid,
input[type="number"].invalid:hover {
    border-color: var(--invalid-color);
}

input[type="number"].invalid:focus {
    outline-color: var(--invalid-color);
}

#tooltip {
    position: absolute;
    left: -9999px;
    background-color: white;
    width: 250px;
    z-index: 999;
    border: 2px solid var(--dark-gray-color);
    border-radius: var(--border-radius);
}

#tooltip p {
    margin: 0px;
    padding: 10px;
    font-size: 12px;
}

.tooltip-icon {
    position: relative;
    top: 1px;
    float: right;
}