div {
    width: 200px;
    height: 20px;
    background-color: grey;
}

#progression {
    background-color: red;
    height: 20px;
    padding: 0px;
}

label:nth-last-of-type(3),
input:nth-of-type(3) {
    display: none;
    /* position: absolute;
    left: -9999px; */
}